@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
table {
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100px;
    margin: auto;
}
img {
    display: block;
    margin: auto;
    border-radius: 100%;
    width: 400px;
    height: 450px;
}
h1 {
    text-align: center;
}
.table_l, .table_r {
    width: 500px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.34);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.34);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.34);
}
td:hover {
    width: 400px;
    -webkit-box-shadow: 0px 5px 10px 10px rgba(34, 60, 80, 0.34);
    -moz-box-shadow: 0px 5px 10px 10px rgba(34, 60, 80, 0.34);
    box-shadow: 0px 5px 10px 10px rgba(34, 60, 80, 0.34);
}
.td_right td {
    height: 180px;
}
.table_l td {
    border-bottom: 2px solid black;
}
.table_r td {
    border-bottom: 2px solid black;
}
.ancher {
    border: 1px solid blueviolet;
    padding: 10px 50px;
    background-color: plum;
    text-decoration: none;
    color: black;
}
.tank {
    text-align: center;
}
.ancher:hover {
    -webkit-box-shadow: 0px 4px 8px 6px rgba(137, 47, 212, 0.2);
    -moz-box-shadow: 0px 4px 8px 6px rgba(137, 47, 212, 0.2);
    box-shadow: 0px 4px 8px 6px rgba(137, 47, 212, 0.2);
    background-color:rgb(51, 4, 51);
    color: rgb(223, 238, 12);
    transition: 0.7s;
}